{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="row profile-header">

        <img src="https://ubisoft-avatars.akamaized.net/2a60ef4d-6ee1-4cc0-ad4d-1c0d8c964763/default_256_256.png" />

        <div class="bloc-player">
            <h1>CPC.Evene</h1>

            <ul class="main-infos">
                <li><h2>WINS</h2><span class="green">6454</span></li>
                <li><h2>LOSSES</h2><span class="red">5984</span></li>
                <li><h2>MMR</h2><span>3241</span></li>
                <li><h2>K/D</h2><span>1.1</span></li>
            </ul>
        </div>
    </div>


    <main>
        <section>
            <a href="">Statistics</a>
            <a href="">Operators</a>
            <a href="">Ranks</a>
        </section>
    </main>

    <div class="row full">
        <div class="col-sm-12">
            <h3>Statistics</h3>
        </div>
    </div>
{% endblock %}