{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>Hello</h1>
        </div>
    </div>
{% endblock %}